<div class="chat-list" #viewier>
  <mat-list>
    <mat-list-item *ngFor="let message of data" class="message">
<!--      <img src="../../../assets/images/default-avatar.png" alt="" class="avatar">-->
      <div class="badge" [style.backgroundColor]="getSenderColor(message.from)">{{ getSenderInitials(message.from) }}</div>
      <ul class="message">
        <div class="message-text">
          <li class="author">{{message.from}}</li>
          <li class="small-text">
            {{message.time | date:'medium' }}
          </li>
        </div>
        <div class="italic">
          {{message.message}}
        </div>

      </ul>
    </mat-list-item>
  </mat-list>
  </div>
