//[mat-fab] {
//  position: absolute;
//  right: 2%;
//  top: 35px;
//  z-index: 1;
//}


.chat-input {
  padding-top: 20px;
  width: 80%;
}

.chat-list {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 90px;
  left: 25px;
  right: 25px;
  bottom: 120px;
}

.chat-list-item {
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  background-color: #E8EAF6;
}

.chat-notification {
  text-align: center;
}

.avatar {
  width: 50px;
  height: 50px;
}

.message {
  width: 100%;
  margin: 20px;
  list-style-type: none;
}

.message-text {
  display: flex;
  max-width: 520px;
  align-items: center;
  justify-content: space-between;
}

.message-text li {
  word-break: break-all;
}

.italic {
  font-style: italic;
}

.author {
  font-weight: bolder;
  margin-bottom: 5px;
}

.small-text {
  font-size: 11px;
  //margin-left: 30%;
}

.badge {
  border-radius: 50%;
  background-color: #888;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  line-height: 3.5rem;
  font-size: 1.5rem;
}
