.chat-footer-container {
  position:fixed;
  bottom:25px;
  left:25px;
  right:25px;
}

.chat-input {
  padding-top: 20px;
  width: 60%;
}

.chat-button {
  margin-left: 10px;
  background-color: #3f51b5;
}

.footer {
  display: flex;
  align-items: center;
  width: 30%;
  background-color: #dedede;
  border-radius: 5px;
  padding: 5px;
  //margin: 0 auto;
}

@media  (max-width: 700px) {
  .footer {
    width: 50%;
  }
  .chat-input {
    width: 74%;
  }
}
