<div class="chat-footer-container">
  <form [formGroup]="form" (ngSubmit)="sendMessage()">
    <mat-form-field class="chat-input">
      <input
        class="search-input"
        matInput placeholder="Enter your message"
        formControlName="request"
        maxlength="140"
        #inputMessage
        autocomplete="off"
      >
      <mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>
    </mat-form-field>
    <button
      [disabled]="form.invalid"
      mat-fab
      type="submit"
      class="chat-button"
    >
      <i class="material-icons">send</i>
    </button>
<!--      <button class="chat-button"-->
<!--              mat-raised-button-->
<!--              [disabled]="form.invalid"-->
<!--              type="submit"-->
<!--      >Send-->
<!--      </button>-->

  <div class="footer">
    <input
      matInput placeholder="Name"
      #name
      maxlength="20"
    >
    <mat-hint align="end">{{name.value.length}}/20</mat-hint>
    <button
      mat-button
      (click)="updateName()"
    >Update</button>
  </div>
  </form>
</div>
